
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/build/scss/AdminLTE';
$fa-font-path: "~font-awesome/fonts/";
@import '~font-awesome/scss/font-awesome';
//@import '~font-awesome/scss/so';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
