<template>
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item" v-for="(breadcrumb, index) in breadcrumbs" v-bind:key="index">
            <span v-if="!breadcrumb.link">{{ breadcrumb.name }}</span>
            <router-link v-if="breadcrumb.link" :to="breadcrumb.link">{{ breadcrumb.name }}</router-link>
        </li>
    </ol>
</template>

<script>
    export default {
        data(){
            return {
                breadcrumbs: []
            }
        },

        watch: {
            '$route' () {
                this.updateList()
            }
        },

        mounted() {
            this.updateList();
        },

        methods: {
            updateList(){
                this.breadcrumbs = this.$route.meta.breadcrumbs;
            }
        }
    }
</script>
