<template>
    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="example1_length">
                    <label>Show
                        <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <slot name="head"></slot>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in data.data" v-bind:key="row.id">
                            <slot v-bind:row="row"></slot>
                        </tr>
                    </tbody>
                    <tfoot v-if="footer">

                    <tr>
                        <slot name="head"></slot>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    <ul class="pagination" v-if="data.total>1">
                        <li class="paginate_button page-item previous" :class="{ disabled: !data.prev_page_url }" id="previousPage">
                            <a href="#" @click.prevent="changePage(data.current_page-1)" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>

                        <li v-for="page in data.total" class="paginate_button page-item" :class="{ active: data.current_page === page }">
                            <a href="#" @click.prevent="changePage(page)" :aria-controls="`example${page}`" :data-dt-idx="page" :tabindex="page-1"
                               class="page-link">{{ page }}</a>
                        </li>

                        <li class="paginate_button page-item next" :class="{ disabled: !data.next_page_url }" id="nextPage">
                            <a href="#" @click.prevent="changePage(data.current_page+1)" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: {
            data: Object,
            footer: false
        },

        data(){
            return {
            }
        },

        mounted() {
        },

        methods: {
            changePage(pageNo){
                if(this.data.current_page === pageNo)
                    return;
                this.$emit('change-page', pageNo);
            },
            Paging() {
                let PageNumber = this.data.current_page;
                let PageSize = this.data.per_page;
                let TotalRecords = this.data.total;
                let ReturnValue = {
                    prev: false,
                    range: [],
                    next: false
                };
                let TotalPages = Math.ceil(TotalRecords / PageSize);
                if (+PageNumber > 1) {
                    if (+PageNumber === 2)
                        ReturnValue.prev = (PageNumber - 1);
                    else {
                        ReturnValue.prev(+PageNumber - 1);
                        // ReturnValue.push(+PageNumber - 1);
                    }
                }
                // else
                //     ReturnValue.prev = false;
                if ((+PageNumber - 3) > 1)
                    ReturnValue.range.push(1);
                    // &nbsp;.....&nbsp;|&nbsp;";
                for (let i = +PageNumber - 3; i <= +PageNumber; i++)
                    if (i >= 1) {
                        if (+PageNumber !== i) {
                            ReturnValue.range.push(i);
                            // &nbsp;|&nbsp;";
                        }
                        else {
                            ReturnValue.range.push("<span style='font-weight:bold;'>" + i + "</span>&nbsp;|&nbsp;");
                        }
                    }
                for (let i = +PageNumber + 1; i <= +PageNumber + 3; i++)
                    if (i <= TotalPages) {
                        if (+PageNumber !== i) {
                            ReturnValue.range.push(i);
                        }
                        else {
                            ReturnValue = ReturnValue + "<span style='font-weight:bold;'>" + i + "</span>&nbsp;|&nbsp;";
                        }
                    }
                if ((+PageNumber + 3) < TotalPages) {
                    ReturnValue.range.push(".....&nbsp;");
                    ReturnValue.range.push(TotalPages);
                }
                if (+PageNumber < TotalPages) {
                    ReturnValue.next = (+PageNumber + 1);
                }
                else
                    ReturnValue.next = false;
                return (ReturnValue);
            }
        }
    }
</script>

<style lang="scss">

</style>