<template>
    <h1 class="m-0 text-dark">{{ pageTitle }}</h1>
</template>

<script>
    export default {
        data(){
            return {
                pageTitle: 'Dashboard'
            }
        },

        mounted() {
            this.updateTitle();
        },

        watch: {
            '$route' () {
                this.updateTitle()
            }
        },

        methods: {
            updateTitle(){
                this.pageTitle = this.$route.meta.title;
            }
        }
    }
</script>
