<template>
    <div class="preloader-overlay" :class="{ 'hidden': !show }">
        <div class="preloader-container">
            <div class="loader">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: [ 'show' ],

        data(){
            return {
            }
        },

        mounted() {
            if (!this.show)
                this.show = true;
        }
    }
</script>

<style lang="scss">
    .preloader-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1100;
        &.hidden{
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.3s, opacity 0.3s ease-in-out;
        }
    }
    .preloader-container {
        background: rgba(0, 0, 0, 0.5);
        width: 150px;
        height: 150px;
        position: fixed;
        display: block;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        z-index: 100;
        /*opacity: 0.05;*/
    &:after{
         content: "";
         display: block;
         position: absolute;
         width: 90%;
         height: 90%;
         border: 4px solid #e7e7e7;
         border-bottom-color: #333;
         border-radius: 50%;
         /*left: calc(5% - 4px);
         top: calc(5% - 4px);*/
         left: calc(5%);
         top: calc(5%);
         animation: circle-spin 1s infinite;
     }
    }

    .loader {
        width: 103px;
        height: 53px;
        display: block;
        position: absolute;
        /*     top: 70px; */
        /*     left: 249px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        margin: auto;
        background: white;
        z-index: 100;
        border-radius: 8px;
        overflow: hidden;
        border: 2px solid white;
        opacity: 1.8;
        animation: dominos-preloader 2s infinite linear;

        &:before,
        &:after {
             content: "";
             position: absolute;
             top: 0;
             width: calc(50% - 1px);
             height: 100%;
         }
        &:before {
             background: #0066b3;
             left: 0;
        }
        &:after {
             background: #e51937;
             right: 0%;
        }
    }

    .loader .dot {
        display: block;
        width: 15px;
        height: 15px;
        background: white;
        z-index: 1;
        position: absolute;
        top: 10px;
        border-radius: 50%;

    &:nth-child(1) {
         top: 19%;
         left: 10%;
     }

    &:nth-child(2) {
         top: 52%;
         left: 25%;
     }

    &:last-child {
         top: 50%;
         left: 75%;
         transform: translate(-50%, -50%);
     }
    }

    @keyframes dominos-preloader{
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @keyframes circle-spin{
        0%{
            transform: rotate(360deg);
        }
    }
</style>