<template>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li v-for="(item, index) in items" class="nav-item" :class="{ 'has-treeview': item.subItems.length > 0, 'menu-open': currentNav === item.path }" v-bind:key="index">
                <router-link :to="item.subItems.length > 0? '#': item.path" class="nav-link">
                    <i class="nav-icon fa " :class="item.icon"></i>
                    <p>{{item.name}} <i class="right fa fa-angle-left" v-if="item.subItems.length>0"></i></p>
                </router-link>
                <ul v-if="item.subItems.length>0" class="nav nav-treeview">
                    <li class="nav-item" v-for="(subitem, idx) in item.subItems" v-bind:key="idx">
                        <router-link :to="subitem.path" class="nav-link" :class="{active: subitem.path === currentNav}">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p v-text="subitem.name"></p>
                        </router-link>
                    </li>
                </ul>
            </li>
            <!--<li class="nav-item">
                <router-link to="/example" class="nav-link">
                    <i class="nav-icon fa fa-th"></i>
                    <p>
                        Simple
                        <span class="right badge badge-danger">New</span>
                    </p>
                </router-link>
            </li>-->
        </ul>
    </nav>
</template>

<script>
    export default {

        data(){
            return {
                currentNav: '/home',
                items : [
                    { name: 'Dashboard', icon: 'fa-dashboard', path: '/home', subItems: [] },
                    { name: 'Collection', icon: 'fa-facebook', path: '/collections', subItems: [
                            { name: 'Add Collection', path: '/collections/create' },
                            { name: 'View Collection', path: '/collections' }
                        ]
                    },
                    { name: 'Products', icon: 'fa-cube', path: '/products', subItems: [
                            { name: 'Add Product', path: '/products/create' },
                            { name: 'View Products', path: '/products' }
                        ]
                    },
                    { name: 'Example Link', icon: 'fa-angle-left', path: '/example', subItems: [] }
                ]
            }
        },

        mounted() {
            this.currentNav = this.$route.path;
        },

        watch: {
            '$route' () {
                this.currentNav = this.$route.path;
            }
        }
    }
</script>
